html{
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg, #e2a9e5 15%,#2b94e5 100%);
}
input[type="submit"]:hover {
    opacity: 0.5;
    transform: translate(2px,-5px);
}
h1{
    font-family: 'Courier New';
    font-size: 300%;
    color:whitesmoke;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    font-family: 'Courier New';
}
fieldset{
    position: relative;
    text-align: center;
    top: 80px;
    left: 23%;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
}
legend{
    font-family: 'Courier New';
    font-size:30px;
    color:whitesmoke;
}
div{
    position: relative;
    top: 30px;
    font-family: 'Courier New';
    color:whitesmoke;
    text-align: center;
}
label{
    font-size: 30px;
}
label[for="lv1"]{
    color: #008f18;
}
label[for="lv2"]{
    color: #FFB749;
}
label[for="lv3"]{
    color: #FF4949;
}
input[type="submit"]{  
    position: relative;
    color: whitesmoke;
    top: 200px;
    background:transparent;
    padding: 5px 10px;
    font-family: 'Courier New';
    font-size: 250%;
    border: 0;
    border-radius: 10px;
    transition: all 0.7s;
}
a{
    position: relative;
    padding: 3px;
    text-decoration: none;
    border-radius: 3px;
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    top: 285px;
    font-family: 'Courier New';
    font-size: 15px;
}