html,body{
    background: #131416;
}
a:hover {
    opacity: 0.5;
}
h1{
    font-family: 'Courier New';
    font-size: 60px;
    text-align: center;
    color:beige;
}
legend{
    font-family: 'Courier New';
    font-size:30px;
    color:beige;
}
div{
    font-family: 'Courier New';
    color:beige;
    border: 2px solid beige;
    margin:auto;
}
a{  
    position: relative;
    top: 100px;
    color: beige;
    background-color: rgb(168, 167, 252);
    padding: 20px;
    font-family: 'Arial';
    font-size: 50px;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    text-decoration: none;
    transition: all 1s;
}