html,body{
    background: #131416;
}
a:hover {
    opacity: 0.5;
}
h1{
    font-family: 'Courier New';
    font-size: 60px;
    color:beige;
    text-align: center;
}
fieldset{
    position: relative;
    top: 100px;
    left: 8%;
    width: 80%;
    padding: 20px;
}
legend{
    font-family: 'Courier New';
    font-size:30px;
    color:beige;
}
div{
    font-family: 'Courier New';
    color:beige;
}
input[type="button"]{  
    position: relative;
    color: beige;
    background-color: rgb(168, 167, 252);
    padding: 5px;
    font-family: 'Courier New';
    font-size: 50px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    transition: all 1s;
}
#lv1{
    margin-right: 110px;
}
#lv2{
    margin-right: 110px;
}