html,body{
    height:100%;
}
#left{
    width: 70%;
    border-collapse: collapse;
}
#right{
    width:30%;

}
h1 {
    font-size: 40pt;
    font-family: 'Courier New';
    text-align: center;
}
p{
    font-family: 'Courier New';
    font-size:120px;
    font-weight: bold;
    border:2px solid black;
    padding:80px;
    margin:auto;
    text-align: center;
}
form{
    text-align: center;
}
.form input{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 100px;
}
button{
    background-color: lightskyblue;
    border: 1px;
    border-radius: 4px;
    padding: 20px;
}

