#left{
    width: 70%;
    border-collapse: collapse;
}
#right{
    width:28%;
}
.game{
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-size: 150px;
    font-family: 'Courier New';
    text-align: center;
}
p{
    font-family: 'Courier New';
    font-size:100px;
    font-weight: bold;
    border:2px solid black;
    padding: 60px;
    margin:auto;
    text-align: center;
}
form{
    text-align: center;
}
.form input{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}
.attempt{
    text-align: center;
    color: red;
}
#hangman{
    width: 80%;
}